@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  background-color: #2f2b3a;
}

@theme {
  --color-primary: #2f2b3a;
  --color-secondary: #1f1b2e;
  --color-orange: #CC9601;
  --color-gray: #3C3C3C;
}